# Virtual environments
.tf_env/
tf_env/
tf_env_cnn/
venv/
tf_env_py310/
env/
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

*.tar.gz
datasets/

# images
.jpg
.png

*bin.gz