streamlit
opencv-python-headless
mtcnn
keras-facenet
tensorflow-cpu
scikit-learn
numpy
pandas
Pillow
easyocr
pandas
numpy
nltk
spacy
textblob
vaderSentiment
transformers
transformers
torch
datasets
matplotlib
seaborn
plotly

